name: Build images

on:
  pull_request:
    branches:
      - master
jobs:
  matrix:
    name: Build ${{matrix.tags}}
    strategy:
      matrix:
        tags:
          - alpine-base
          - alpine-base
          - alpine-base-s6
          - alpine-base-s6
          - debian-base
          - debian-base-s6
          - dotnet-base
          - dotnet-base-s6
          - elastic-ek
          - frontend
          - go
          - go-base
          - hacs-action
          - integration
          - monster
          - netdaemon
          - nodejs-base
          - nodejs-base-s6
          - python
          - python-base
          - python-base-s6
          - v

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          buildx-version: latest

      - name: Install requirements
        run: make requirements

      - name: Building ${{matrix.tags}}
        run: python3 -m scripts.builder ${{matrix.tags}}

