name: Deploy to Docker Hub

on:
  release:
    types:
      - published
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy all images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Login to docker hub
        if: success()
        uses: actions-hub/docker/login@master
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_TOKEN }}

      # Build
      - name: Build images
        run: python3 Scripts/Docker.py build

      # Deploy versions
      - name: Push to docker registry
        run: python3 Scripts/Docker.py publish