name: Deploy to Docker Hub

on:
  release:
    types:
      - published
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy all images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Login to docker hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_TOKEN }}
      - name: Build images
        run: python3 Scripts/Docker.py build
      - name: Push to docker registry
        run: python3 Scripts/Docker.py publish